/* Container for bio and pic */
.personal-info {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #f2f2f2;
    border-radius: 25px;

}

.profile-pic {
    border-radius: 50%;
}

.profile-details {
    margin-left: 10px;
    margin-right: 10px;
}

.profile-editbtn {
    margin-left: 85%;
    margin-top: 10px;
    text-align: right;
}

.profile-addbtn {
    margin-left: 90%;
    
}

/*  Layout for every section */
.cards {
    border-radius: 25px;
    background-color: #f2f2f2;
    padding: 15px;
}

.card-info {
    background-color: white;
    border-radius: 25px;
    padding: 10px;
}

/* CSS for tags */
.tag {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.delete-btn {
    border: none;
    color: white;
    background-color: black;
    padding: '5px 10px';
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
}

.skills-addbtn{
    border: none;
    margin-left: 90%;
}