:root {
    font-size: 16px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-weight: 550;
    font-size: 24px;
}

/* Container for bio and pic */
.personal-info {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #f2f2f2;
    border-radius: 25px;

}

.profile-pic {
    border-radius: 50%;
    padding: 10px;
}

.pic-and-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-details {
    margin-left: 10px;
    margin-right: 10px;
}

.profile-editbtn {

    margin-top: 10px;
    text-align: right;
}

.profile-addbtn {
    margin-left: 90%;

}

/*  Layout for every section */
.cards {
    border-radius: 25px;
    background-color: #f2f2f2;
    padding: 15px;
    margin: 10px 20px;
}

.card-info {
    background-color: white;
    border-radius: 25px;
    padding: 10px;
}

/* CSS for education section */
.education-btn {
    margin: 5px 10px;
    border-color: black;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    padding: 5px;
    background-color: #f2f2f2;
}

.education-btn:hover {
    background-color: white;
}

/* CSS for certifications */
.certs-container {
    display: grid;
    grid-template-columns: (2, 1fr);
    gap: 5px;
}

/* CSS for tags */
.tag {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.tagSelection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.delete-btn {
    border: none;
    color: white;
    background-color: black;
    padding: '5px 10px';
}

.tag-input {
    border-color: black;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
}

.skills-addbtn {
    border: none;
    margin-left: 10px;
}

.tagType {
    border: 2px;
    border-style: solid;
    border-radius: 25px;

}

.tagType:focus {
    background-color: darkgray;
}

.tagType:visited {
    background-color: darkgray;
}

.edit-frm{
    display: grid;
    gap: 10px;
}